

@{
    ViewData["Title"] = "";
	Layout = "_DefLayout";
}


<section class="py-5">
	<div class="container">
		<h2 class="text-center mb-4">Shop by Categories</h2>
		<div class="row g-4">
			<div class="col-md-4">
				<div class="card shadow-sm card-img-top">
					<img src="https://img.chip.com.tr/rcman/Cw1280h720q95gm/storage/files/images/2022/10/20/2-el-telefon-bilgisayar-alirken-bunlara-dikkat-edin-2-el-rehberi-hLWF.jpg" style="object-fit: contain;height: 200px;" class="card-img-top" alt="Category 1">
					<div class="card-body text-center">
						<h5 class="card-title">Electronics</h5>
						<a href="/product/index?category=1" class="btn btn-primary">Explore</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-sm card-img-top">
					<img src="https://cdn03.ciceksepeti.com/editor/image/pushimage/panco%201.jpg" style="object-fit: contain;height: 200px;" class="card-img-top" alt="Category 2">
					<div class="card-body text-center">
						<h5 class="card-title">Fashion</h5>
						<a href="/product/index?category=2" class="btn btn-primary">Explore</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-sm card-img-top">
					<img src="https://www.channelengine.com/hubfs/Imported_Blog_Media/homeliving-thumbnail.jpg" style="object-fit: contain;height: 200px;" class="card-img-top" alt="Category 3">
					<div class="card-body text-center">
						<h5 class="card-title">Home & Living</h5>
						<a href="/product/index?category=3" class="btn btn-primary">Explore</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-sm card-img-top">
					<img src="https://ng.jumia.is/cms/0-categories-tng/toys-games/cbm-toys-games.jpg" style="object-fit: contain;height: 200px;" class="card-img-top" alt="Category 4">
					<div class="card-body text-center">
						<h5 class="card-title">Toys&Games</h5>
						<a href="/product/index?category=4" class="btn btn-primary">Explore</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-sm card-img-top">
					<img src="https://d1ysvut1l4lkly.cloudfront.net/B0BLJ5T2K1/5/image-0-0.jpg" style="object-fit: contain;height: 200px;" class="card-img-top" alt="Category 5">
					<div class="card-body text-center">
						<h5 class="card-title">Books</h5>
						<a href="/product/index?category=5" class="btn btn-primary">Explore</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-sm card-img-top">
					<img src="https://images.squarespace-cdn.com/content/v1/5c5d97629d41495faf08a6dc/1554557504960-U7QIZMC994YS2F5VE9DZ/Pet.Supplies.Family.Pet.Advocates.JPG" style="object-fit: contain;height: 200px;" class="card-img-top" alt="Category 6">
					<div class="card-body text-center">
						<h5 class="card-title">Pet Supplies</h5>
						<a href="/product/index?category=6" class="btn btn-primary">Explore</a>
					</div>
				</div>
			</div>

		</div>
	</div>


</section>


